<div class="jumbotron" style="text-align: center">
  <h1 class="display-4">The Burger List</h1>
  <br>
  <input type="text" name="userName" id="userName" placeholder="Enter Name">
  <input type="text" name="burgerName" id="burgerName" placeholder="Enter Burger Name">
  <input type="submit" class="newBurger btn-success">
</div>
<div class="container">
  <div class="grid">
    <div class="row">
      <div class="col">
        <h1>Uneaten</h1>
        <ul class="uneaten list-group">
          {{#each burgers}} {{#unless devoured}}
          <li class="burger{{id}} list-group-item">
            <p><a href="/users/{{User.id}}/burgers">{{User.name}}</a> created:</p>
            <div class=" data-id={{id}}"><a href="/burgers/{{id}}">{{name}}</a>
              <button class="btn-primary devour" data-id={{id}}>Devour</button>
            </div>
            {{/unless}} {{/each}}
          </li>
        </ul>
      </div>
      <div class="col">
        <h1>Eaten</h1>
        <ul class="eaten list-group">
          {{#each burgers}} {{#if devoured}}
          <li class="burger{{id}} list-group-item" data-id={{id}}>{{name}}
            <button class="btn-danger delete" data-id={{id}}>Delete</button>
          </li> {{/if}} {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script>

  // EAT BURGER

  $(document).on("click", '.devour', function (e) {
    var id = $(this).data("id")
    console.log(id)
    $.ajax({
      url: '/api/burgers/' + id + '/eat',
      method: 'put',
      data: { id: id, devoured: 1 },
      success: function (res) {
        window.location.replace("/")
      },
      error: function (err) {
        console.log(err)
      }
    })
  })


  /// CREATE BURGER


  $(document).on("click", '.newBurger', function (e) {
    e.preventDefault()
    var userName = $('#userName').val()
    var burgerName = $('#burgerName').val()
    $.ajax({
      url: '/api/user/burger',
      method: 'post',
      data: { userName: userName, burgerName: burgerName },
      success: function (res) {
        console.log(res)
        window.location.replace("/")

      }
    })
  })

  //DELETE BURGER

  $(document).on("click", '.delete', function (e) {
    e.preventDefault()
    var id = $(this).data("id")
    $.ajax({
      url: '/api/burgers/' + id + '/delete',
      method: 'delete',
      data: { id: id },
      success: function (res) {
        window.location.replace("/")
      }
    })
  })
</script>